<% provide(:title, 'About') %>
<style>
  .dark{color:rgba(55, 65, 81,1);}
  body{background:white !important;}
</style>
<div class="relative items-center justify-center">
  <!-- Header Text-->
  <h1 class="text-center text-2xl font-bold p-4 bg-gray-800 offer_text">Our Team;</h1>
</div>
  <!-- All Cards Container -->
  <div class="lg:flex items-center container mx-auto my-auto">
<div class="holder">

  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <img src="https://images-na.ssl-images-amazon.com/images/I/5165mrYm1eL._AC_SL1001_.jpg" class="max-h-20 w-full opacity-80 absolute top-0" style="z-index:-1"/>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <img src="https://www.facebook.com/messenger_media?thread_id=100000090224889&attachment_id=471506297330767&message_id=mid.%24cAAAAD7vLazZ-Dd0AHV33JehE6_4j" class="w-28 h-28 p-1 bg-white rounded-full"/>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">4ng3l</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Director of Marketing</div>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <!-- <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Contact</div> -->
      <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="AngelClick()">Bio</div>
    </div>
  </div>
  <!-- card end -->
  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <%= image_tag('https://images7.alphacoders.com/480/480536.png', class: 'max-h-20 w-full opacity-80 absolute top-0', style: 'z-index:-1') %>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag('https://i.pinimg.com/originals/9f/52/50/9f5250a3138b25451634f198922eb3e4.jpg', class: 'w-28 h-28 p-1 bg-white rounded-full') %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">Gh0s7</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Coder | Hacker | Server Admin</div>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <!-- <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Contact</div> -->
      <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="GhostClick()">Bio</div>
    </div>
  </div>
  <!-- card end -->
  <div class="card border w-96 hover:shadow-none relative flex flex-col mx-auto shadow-lg m-5">
    <%= image_tag('https://upload.wikimedia.org/wikipedia/commons/8/81/Access-granted.png', class: 'max-h-20 w-full opacity-80 absolute top-0', style: 'z-index:-1') %>
    <div class="profile w-full flex m-3 ml-4 text-white">
      <%= image_tag('https://c1.wallpaperflare.com/preview/290/602/335/dark-blockchain-crypto-digital.jpg', class: 'w-28 h-28 p-1 bg-white rounded-full') %>
      <div class="title mt-11 ml-3 font-bold flex flex-col">
        <div class="name break-words">Cryp70</div>
        <!--  add [dark] class for bright background -->
        <div class="add font-semibold text-sm italic dark">Hacker | Server Admin | Coder</div>
      </div>
    </div>
    <div class="buttons flex absolute bottom-0 font-bold right-0 text-xs text-gray-500 space-x-0 my-3.5 mr-3">
      <!-- <div class="add border rounded-l-2xl rounded-r-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white">Contact</div> -->
      <div class="add border rounded-r-2xl rounded-l-sm border-gray-300 p-1 px-4 cursor-pointer hover:bg-gray-700 hover:text-white" onclick="CryptoClick()">Bio</div>
    </div>
  </div>
  <!-- card end -->

</div>


<script>
  function AngelClick()
  {
    var a = document.getElementById("AngelDIV");
    if (a.style.display === "none")
    {
      a.style.display = "block";
      document.getElementById("GhostDIV").style.display = "none";
      document.getElementById("Cryp70DIV").style.display = "none";
    }
    else
    {
      a.style.display = "none";
    }
  }

  function GhostClick()
  {
    var g = document.getElementById("GhostDIV");
    if (g.style.display === "none")
    {
      g.style.display = "block";
      document.getElementById("AngelDIV").style.display = "none";
      document.getElementById("Cryp70DIV").style.display = "none";
    }
    else
    {
      g.style.display = "none";
    }
  }

  function CryptoClick()
  {
    var c = document.getElementById("Cryp70DIV");
    if (c.style.display === "none")
    {
      c.style.display = "block";
      document.getElementById("AngelDIV").style.display = "none";
      document.getElementById("GhostDIV").style.display = "none";
    }
    else
    {
      c.style.display = "none";
    }
  }

  </script>
