<% provide(:title, 'Portfolio') %>

<div class="relative items-center justify-center">
  <!-- Header Text-->
  <h1 class="text-center text-2xl font-bold p-4 bg-gray-800 offer_text">View Our Work</h1>
</div>

Our work!
