<% if @user == User.find_by_email('cryp70@tuta.io') %>
  <p class="wlcm_txt">
    <%= render 'users/Chaos_W3b/chaos_w3b_notes' %>
  </p>
<% end %>

<% if @user == User.find_by_email('js@truly-teal.com') %>
  <p class="wlcm_txt">
    <%= render 'users/TrulyTeal/truly_teal_notes' %>
  </p>
<% end %>
