<div class="form-item w-full">
  <label class="text-xl intel_hdr">Website Development Document Agreement:</label><label class="text-xl intel_txt"> <%= link_to 'My Website Agreement', 'https://drive.google.com/file/d/1aiUF3AJ7KIfbOVWedg-ngAA4ENDIv62d/view?usp=sharing', target: '_blank' %></label><br/>
  <label class="text-xl intel_hdr">Server Hosting &amp; Security Document Agreement:</label><label class="text-xl intel_txt"> <%= link_to 'My Hosting/Security Agreement', 'https://drive.google.com/file/d/1nND_2V-aZ6mCHzTwzfevccUSwrL5bHTQ/view?usp=sharing', target: '_blank' %></label><br/>
</div>
