<div class="form-item w-full">
  <label class="text-xl intel_hdr">Website Development Document Agreement:</label><label class="text-xl intel_txt"> <%= link_to 'My Website Agreement', 'https://drive.google.com/file/d/1eL1roy32jm5QjyeT3CKIxq9lC8T-EqD9/view?usp=sharing', target: '_blank' %></label><br/>
  <label class="text-xl intel_hdr">Server Hosting &amp; Security Document Agreement:</label><label class="text-xl intel_txt"> <%= link_to 'My Hosting/Security Agreement', 'https://drive.google.com/file/d/1UJvC7aMeIR8d3qNQC5WWJ8nT8SLoWjn4/view?usp=sharing', target: '_blank' %></label><br/>
  <label class="text-xl intel_hdr">SEO &amp; Marketing Document Agreement: </label><label class="text-xl intel_txt"><%= link_to 'My SEO/Marketing Agreement', 'https://drive.google.com/file/d/17kiNIC1sGbs82OkmkfH2WvVS4SbXdVIb/view?usp=sharing', target: '_blank' %></label>
</div>
